/* Note: No credit is provided for submitting design and/or code that is taken */
/*       from course-provided examples.                                        */
/*                                                                             */
/* Do not copy this code into your project submission and then change it.      */
/*                                                                             */
/* Write your own code from scratch. Use this example as a REFERENCE only.     */
/*                                                                             */
/* You may not copy this code, change a few names/variables, and then claim it */
/* as your own. It does not matter if you can explain what every line does.    */
/*                                                                             */
/* Examples are provided to help you learn. Copying the example and then       */
/* changing it a bit, does not help you learn the learning objectives of the   */
/* assignments. Write your own code from scratch to help you learn it.         */

html {
  font-family: 'Lucida Grande', 'Cantarell', 'Arial', sans-serif;
  background-color: #cfcbbf;
}

body {
  background-color: #efece5;
  color: #000000;

  margin: 0 auto;
  max-width: 800px;
}

h1 {
  padding: 18px;
  margin: 0;
}

nav menu {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;
}

nav menu li {
  list-style: none;
}

nav menu li a {
  display: block;
  padding: 10px;
  padding-left: 18px;

  border-bottom: 8px solid #efece5;
  color: black;

  font-size: 140%;
  text-decoration: none;
}

nav menu li a:hover {
  border-bottom: 8px solid #55bea9;
  background-color: #ffffff;
}

h2 {
  font-size: 160%;
}

.left-image {
  display: flex;
  flex-direction: row;

  gap: 10px;
  padding: 0 16px;

  background-color: #ffffff;
}

.logo img {
  display: block;
  margin: 24px auto;
  min-width: 200px;
}

.highlight-top {
  padding: 20px;

  color: white;
  background-color: #f3633e;
}

.highlight-middle {
  padding: 20px;

  color: white;
  background-color: #3e587e;
}

.events picture img {
  aspect-ratio: 1;
  height: 100%;
  width: 100%;

  object-fit: cover;
  object-position: center;
}
.readable {
  padding: 4px 12px;

  background-color: white;
  color: rgb(47, 70, 108);
}

.button {
  display: block;
  width: max-content;

  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;

  background-color: #55bea9;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.highlight-middle {
  display: flex;
  flex-direction: row;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

/* Note: No credit is provided for submitting design and/or code that is taken */
/*       from course-provided examples. This includes the Ithaca Zoo example.  */
@media (max-width: 700px) {
  header h1 {
    background-color: #cfcbbf;
  }

  nav menu {
    flex-direction: column;
  }

  nav menu li a {
    display: block;
    width: 100%;
    padding: 16px 8px 16px 12px;
    border-left: 8px solid #efece5;
    border-bottom: 0;
  }

  nav menu li a:hover {
    border-left: 8px solid #55bea9;
    border-bottom: 0;

    border-bottom: none;
    padding-bottom: 16px;
  }

  .left-image {
    flex-direction: column;
    background-color: inherit;
    padding: 0;
  }

  .highlight-middle {
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  html{
    background-color: #000000;
    color: #f0f0f0;
  }

  body {
   background-color: #1f1f1f;
   color: #f0f0f0;
  }
}

@media (pointer: coarse){
  botton{
    padding: 50px;
  }

}
